.font  {
    font-weight:bold;
    color:black;
    text-align:center;
    font-family: Helvetica;
}

.beginning{
    text-align: center;
    color:black;
    font-family:arial;
}

.background img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}


